*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/*everythign related to font ,put it in the body*/
html {
  font-size: 62.5%;
  /*use % for user zoom in/out and the font would be easly adapted */
  /* font-size: 10px; from now if we use rem 1 rem = 10 pixels*/ }

body {
  box-sizing: border-box; }

.heading-primary {
  /*both for sub and main*/
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    /*display span into 2 separates lines/blocks*/
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    /*define how the animation will run, fast, slow,*/
    /*animation-delay: 3s;
          animation-iteration-count: 3; animation runs 3 times 
        */ }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.74rem;
    animation: moveInRight 3s ease-out; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  /*1,7 bigger than default*/
  color: #777;
  padding: 3rem; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  transition: all .2s;
  letter-spacing: .2rem; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

/*Animation*/
@keyframes moveInLeft {
  /*When the animation starts*/
  0% {
    opacity: 0;
    /*0 mean no visible*/
    transform: translateX(-10rem);
    /*Fly in x direction, negative measn go to the left, like math*/ }
  /*When the animation haftway =)))*/
  80% {
    transform: translateX(2rem);
    /*At this point, x must be 20px from starting point*/ }
  /*When the animaton finished*/
  100% {
    opacity: 1;
    /*fully appeared*/
    transform: translate(0);
    /*0 makes it look the same as the way it should look*/ } }

@keyframes moveInRight {
  /*When the animation starts*/
  0% {
    opacity: 0;
    /*0 mean no visible*/
    transform: translateX(10rem);
    /*Fly in x direction, negative measn go to the left, like math*/ }
  /*When the animation haftway =)))*/
  80% {
    transform: translateX(-1rem);
    /*At this point, x must be 20px from starting point*/ }
  /*When the animaton finished*/
  100% {
    opacity: 1;
    /*fully appeared*/
    transform: translate(0);
    /*0 makes it look the same as the way it should look*/ } }

@keyframes moveInBottom {
  /*When the animation starts*/
  0% {
    opacity: 0;
    /*0 mean no visible*/
    transform: translateY(3rem);
    /*Fly in x direction, negative measn go to the left, like math*/ }
  /*When the animaton finished*/
  100% {
    opacity: 1;
    /*fully appeared*/
    transform: translate(0);
    /*0 makes it look the same as the way it should look*/ } }

.u-center-text {
  text-align: center; }

.u-margin-bottom-8 {
  margin-bottom: 8rem; }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }

/*pseudo classes to style elems under special conditions: click, hive, sumbit,...*/
.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  /*prevent the button stick to the upper text*/
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  /*The button now is <a> tag so it will be treated as text, so to center it just add text-align in the textbox*/ }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  /*The shadow will be 0 in X and 10px in Y direction*/ }
  .btn:hover::after {
    /*after the btn was hovered*/
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  /*keep this part behind if the button*/
  transition: all 0.4s;
  /*this ::after class is now become the child of the parent  button:visited*/ }

.btn--animated {
  animation: moveInBottom 0.3s ease-out 0.75s;
  /*Because the button delay is 0.75s so it waits 0.75 for the asnimation to work, 
      duting that the button still visible
      */
  animation-fill-mode: backwards;
  /*use this to set the inital state of the button to 0%*/ }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(((100% - 2 * 6rem) / 3) * 2 + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(((100% - 3 * 6rem) / 4) * 2 + 6rem); }
  .row .col-3-of-4 {
    width: calc(((100% - 3 * 6rem) / 4) * 3 + 2 *6rem); }

.header {
  height: 95vh;
  /*95% of the viewport height*/
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  /*color change from left to right*/
  background-size: cover;
  background-position: top;
  position: relative;
  /*set this cuz header is the parent elems of the img, the postion of the child elements count will start(reference) from header*/
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  /*cut the header into put prefered shape by specify the points x, y*/ }
  .header__logo-box {
    /*This is the child element*/
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    /*Put the h1 and its spans into the center of the header*/
    position: absolute;
    top: 40%;
    /*moving the element in relation with parent element*/
    left: 50%;
    transform: translate(-50%, -50%);
    /*No longer in realtion with parent element*/
    /*Now it's reference is the whole window*/
    /*Use this transform to exactly pput the span in the center*/
    text-align: center; }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }
