.section-about {
    background-color: $color-gray-light-1;
    padding: 25rem 0;
    margin-top: -20vh; 
}
.section-features {
    padding: 20rem 0;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)
      ),
      url(../img/nat-4.jpg); /*color change from left to right*/
      background-size: cover;
      transform: skewY(-7deg); // rotate the whole thing
      margin-top: -11rem;

      // select all the direct CHILDREN (the children, not grandchild) of the class
      & > * {
        transform: skewY(7deg); // move the boxes to original
      }
}